// main colors
$main-green-color: #2a808d;
$main-green-dark: #196469;
$header-color: #2a8086;

// text color

$text-color-white: #f3f7f8;
$text-color-green: #0d444d;
$text-color-dark: #2d2d2d;
$text-color-description: #909090;
$text-desc-green-section: #c5e1e5;
$black-color: #000000;

// shadow

$shadow-color: #b9d5d9;

// btn

$btb-green-color: #19707d;
$hover-link: #68a7ac;
// fonts

$main-font: "Roboto";
$secondary-font: "Roboto-Mono";
$rubik-font: "Rubik";




