@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../font/rubik.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../font/roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../font/roboto-mono.woff2") format("woff2");
}
