@use "../utils/variables" as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}

body {
  font-family: var.$main-font;
  background-color: #f5f9fa;
}

/* Track */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #196469;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
